<div class="container row">
  <header class="mod-header col-left">
    <h2 class="moderator-title">Women say.</h2>
    <h2>Moderator Page</h2>

    <h3>Hi {{user.username}}</h3>

    <a href="private/logout" class="log-out-btn">Log Out</a>

  </header>
  <div class="lists col">

    {{#each post}}
    <div class="post-mod-card row">
      <div class="comment-id inside-col">
      <p class="post-id">{{id}}</p>
      </div>
      <div class="comment-text inside-col">
      <p>
        {{text}}
      </p>
      </div>
      <div class="comment-delete">
      <form action='private/{{this.id}}/delete' method='POST'>
        <button class="delete-btn"><img src="/images/delete-button.png" /></button>
      </form>
      </div>
    </div>
    {{/each }}


  </div>
</div>