<section class="login">
<h2>Login</h2>

<form action="/private/login" method="POST" id="form-container">
  
  <input id="username" type="text" name="username" placeholder="User Name">

  <br><br>

  
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class="login-btn">Log in</button>

</form>
</section>