<div class="chartContainer row">
<div class="col-left" id="myChartLegend"></div>
<div class="col">
<canvas id="myChart" width="400" height="350"></canvas>
</div>

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="/javascripts/chart.js"></script>