<div class="intro-bg">
  <h1>Women Say<span>.</span></h1>
</div>
<div class="modal-bg"></div>
{{!-- about section --}}
<div class="icons-container">
  <div class="content">
    <nav class="sidebar">
      <div class="side-left">
        <ul class="side-nav">
          <li class="side-nav__item about-icon">
            <a href="#" class="side-nav__link">
              <a href="/auth/login" class="about-btn"></a><img class="about-img" src="/images/about.png"></a>
            </a>
          </li>
          <li class="side-nav__item " id="chart-icon">
            <img class="stats-img" src="/images/stats.png">
          </li>
      </div>
      <li class="side-nav__item post-icon">
        <a href="#" class="side-nav__link">
          <a href="#" class="post-btn"><img class="post-img end" src="/images/post.png"></a>

        </a>
      </li>
      </ul>
    </nav>
  </div>

</div>
<section id="about" class="out-of-the-way ">
  <div class="section-container">
    <div class="close-container close-btn" id="close-btn-about">
      <div class="leftright"></div>
      <div class="rightleft"></div>
    </div>
    <h1 class="about-title">About</h1>
    <p><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </span>sed diam nonummy nibh euismod tincidunt ut
      laoreet dolore magna aliquam</p>
  </div>
</section>
{{!-- map div --}}
<div class="map-box">
  <figure id="map"></figure>
</div>
{{!-- Chart --}}
{{!-- YEAR --}}
{{!-- <select name="coin" id="coin">
      <option value="">Euros</option>
      <option value="USD">Dolares</option>
    </select> --}}




{{!-- post section --}}
<section id="post" class="slider closed out-of-the-way-right">
  <div class="section-container-right ">
    <div class="close-container close-btn " id="close-btn-post">
      <div class="leftright"></div>
      <div class="rightleft"></div>
    </div>
    <h1 class="post-title">Post</h1>
    <form method="POST" action="/" id="post-form">
      <div id="cont">
        <div name="text" id="geocoder" class="geocoder"></div>
        {{!-- <input type="text" name="text" placeholder="text" class="post-text"> --}}
        <textarea rows="4" name="text" cols="50" placeholder="text" class="post-text" maxlength="150">
    </textarea>
        <div class="search-submit-container">
          <input type="submit" name="" placeholder="Post" id="submit" value="">
        </div>
      </div>
    </form>
  </div>
</section>