{{!-- about section --}}
<section id="about">
  <div id="close-btn"><img class="close-btn" src="/images/close-btn.png"></div>
  <h1>About</h1>
  <p><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </span>sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</p>
</section>
{{!-- map div --}}
<div class="map-box">
<figure id="map"></figure>
</div>

{{!-- post section --}}
<section id="post">
  <div id="close-btn"><img class="close-btn" src="/images/close-btn.png"></div>
  <h1>Post</h1>
  <div id="geocoder" class="geocoder"><div>
  <form method="POST" action="/">
  <input type="text" name="text" placeholder="text">
  <input type="submit" name="" placeholder="Post" id="submit">
  </form>
</section>
