<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/fonts/tiempos-headline-cufonfonts-webfont/style.css" />
</head>

<body>


  <nav>

    <div class="align right">
      <a href="/auth/login" class="about-btn"></a><img class="about-img" src="/images/about.png"></a>
      {{!-- <a href="/auth/login" class="stats-btn"><img class="stats-img" src="/images/stats.png"></a> --}}
    </div>
    <div class="align left"></div>
    <a href="/auth/login" class="post-btn"><img class="post-img end" src="/images/post.png"></a>
    </div>


  </nav>

  {{{body}}}

  <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.css'
    type='text/css' />
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>