$rosita: rgb(224, 90, 90);
$verdito: rgb(28, 114, 110);

$softorange: #fff;
$violeta: rgb(195, 171, 211);
$mediumblu: #1E272D;

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}
  
html{
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  font-family: 'Tiempos Headline Light';
  overflow-x: hidden;
}
/////// INTRO BACKGROUND WOMEN SAY

.intro-bg{
  background-color: $violeta;
  color: $rosita;
  transition: all 2s;
  z-index: 9999;
  opacity: 0;
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  text-align: center;
  animation: disappear;
  animation-duration: 4s;
}

.intro-bg h1{
  margin-top: 35vh;
  font-size: 5em;
  animation: appear;
  animation-duration: 3s;
}
.intro-bg span{
  animation: appear-point;
  animation-duration: 3s;
}

@keyframes appear {
  0%   { opacity: 0; }
  35%  { opacity: 0;}
  100% { opacity: 1; }
}

@keyframes appear-point {
  0%   { opacity: 0; }
  90%  { opacity: 0;}
  100% { opacity: 1; }
}

@keyframes disappear {
  0%   { opacity: 1; }
  95%  { opacity: 1;}
  99%  { display: block;}
  100% { opacity: 0;}
}
.disappear{
  opacity: 0;
  z-index: 1400;
}


///////// CHART INDEX

#myChartindex {
  z-index: 1400;
  width: 80vw;
  height: 90vh;
}


////////// BUTTON CLOSE POST 
.close-container{
  position: relative;
  margin: auto;
  width: 50px;
  height: 50px;
  margin-top: 100px;
  cursor: pointer;
}

.leftright{
  height: 6px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: $softorange;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 6px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: $softorange;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}


.close{
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #fff;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: #fff;
}
.close-container:hover label{
  opacity: 1;
}


///////// end button 


.icon-container{
  z-index: 500;
  display: flex;

}

.icons-container ul{
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
}

.icons-container li{
  list-style-type: none;
  text-decoration: none;
  margin: 0 10px;
}


.svg-icon{
  width: 50px;
  margin: 0 20px;
}

//MAP
#map {
  margin:0;
  padding:0;
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  display:block;
  z-index: 200;
}

// NAV BAR
.about-img{
  width: 50px;
  padding: 10px;
  margin: 10px 0 0 20px;
  cursor: pointer;
}

.about-img:hover, .about-img:focus{
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}


.stats-img{
  width: 50px;
  padding: 10px;
}

.post-img{
  width: 100px;
  padding-right:60px;
  margin-top: 20px;
}


nav{
  position:fixed;
  z-index: 1000;
  width: 100vw;
  display:flex;
  justify-content: space-between;
  padding: 20px;
}

// ABOUT SECTION
#about{
  transition: all .6s cubic-bezier(.33,.72,.81,1.19);
}

.section-container{
  margin-left: 5vw;
}

.out-of-the-way {
  transform: translateX(-55vw)
}
.move-in-left{
transform: translateX(-5vw)
}


section{
  position:absolute;
  width: 55vw;
  height: 100vh;
  z-index: 1500;
  text-align: center;
  background-color: rgb(224,90,90);
  font-size: 3em;
}
section h1{
  color:white;
}
section p{
  padding: 20px;
  line-height: 1.6;
}
section span{
  background-color: rgb(28,114,110)
}
.close-btn{
  margin: 20px;
  display:flex;
  justify-content: flex-end;
  width: 50px;
  display:block;
}
#close-btn-about, #close-btn-post{
  display: flex;
}


//POST SECTION
#post{
  // margin-left: 50vw;
  // overflow-x: hidden;
	transition-property: all;
  // display: flex;
  // flex-direction: column;
  // align-content: center;
  transition: all .6s cubic-bezier(.33,.72,.81,1.19);
}

// #about{
//   transition: all .6s cubic-bezier(.33,.72,.81,1.19);
// }
.modal-bg{
  background-color: rgba(0,0,0, .4);
  transition: all 1.3s;
  z-index: 0;
  opacity: 0;
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.835); /* Black w/ opacity */
}

.appear{
  opacity: 1;
  z-index: 1400;
}

.section-container-right{
  margin-right: 5vw;
}

.out-of-the-way-right {
  transform: translateX(155vw)
}
.move-in-right{
transform: translateX(50vw)
}



#geocoder{
  background-color: #fff;
  border-radius: 3px;
  margin: 20px 0;
  display: flex;
  justify-content: start;
}

.mod-header{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.post-mod-card {
  width: 40vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.delete-btn,  .post-id{
  margin: 10px 20px;
}


.lists{
display: flex;
justify-content: center;
}

#post-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.post-text{
  height: 150px;
  width: 100%;
  border: 2px solid #fff;
  background-color: $rosita;
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 15px;
}

#geocoder input
{
  width: 80% ;
  transition: all .2s;

    &:focus {
      transform: translateX(-12px)
    }
}



.search-submit-container{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#submit{
  border: 10px solid #fff;
  background-color: $rosita;
  border-radius: 500px;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  transition: all .2s ease-in;

}

#cont {
  width: 80%;
}

#submit:hover{
  border: 15px solid $verdito
}

#geocoder-container > div {
  min-width:50%;
  margin-left:25%;
  }

//MARKER

.marker {
  background-image: url('/images/point.svg');
  width: 40px;
  height: 40px;
  
  background-size:cover;
}
.mapboxgl-popup {
  max-width: 200px;
  }
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(224,90,90);
  color:white;
  font-family: 'Tiempos Headline Light';
  font-size: 20px;
}
#chart{
  width:500px;
  height: 500px;
  z-index: 1;
}
.col{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.col-left{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.mod-header{
  background-color: rgb(65, 59, 59);
  color: white;
  display: flex;
  height: 100vh;
  position:block;
  font-family: 'HK Grotesk Medium'
}

.lists{
  background-color: rgb(224,90,90);
  height: 100vh;
}
h1{
  font-family: 'Tiempos Headline Black';
  color: rgb(224,90,90)
}
h3 {
  font-family: 'HK Grotesk Medium'
}
.delete-btn img{
  width: 15px;
}
.delete-btn{
  border: none;
  background-color: rgb(224,90,90);
}
.log-out-btn{
  color:white;
  font-size: 20px;
  display:absolute;
  padding-top: 400px;
}
.log-out-btn:hover{
  color:white;
 
}
.login{
  background-color: rgb(65, 59, 59);
  color:white;
  font-family: 'HK Grotesk Medium';
  width: 100vw;
  height: 100vh;
  font-size: 25px;
  display:blocK;
  margin:0, auto;
  padding-top: 25vh;
}
.login h2{
  color:rgb(224,90,90);
  padding-bottom: 30px;
}
.login input{
  -webkit-appearance: none;
  width: 250px;
  border: 0;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0
}
.login-btn img{

  width: 100px;
}
.login-btn {
  border: none;
  background-color: rgb(65, 59, 59);
  font-family: 'HK Grotesk Medium';
  color: white;
  font-size: 30px;
}

////// CHARTS CSS
// CHART 1

#chart-icon {
  margin: 10px 0 0 20px;
}

.chart-container{
 margin: 3vh 3vw 3vh 3vw;
 background-color:rgba(65, 59, 59, 0.5);
 position: fixed;
 top: 0;
 left: 0;
 z-index: 2000;
 width: 94vw;
 height: 94vh;
 animation: appearChart;
 animation-duration: .7s;
 border-radius: 4px;
}

.closeChartButton{
  position: fixed;
  top: 1.5vh;
  right: 1.5vw;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: red;
}

@keyframes appearChart {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fast-disappear{
  animation: fastDisappear;
  animation-duration: .5s;
}

@keyframes fastDisappear {
  0%   { opacity: 100; }
  100% { opacity: 0; }
}
#canvas{
  width: 500px;
  height: 700px;
}

#myChart{
  background-color:rgb(199, 115, 115);
  opacity: 5%;
  height:100vh;
}

#myChartLegend{
  height:100vh;
  overflow-y: scroll;
  
  background-color:rgb(199, 115, 115);
  font-family: 'HK Grotesk Medium';
  color: rgb(231, 229, 229);
}
#myChartLegend ul li{
  justify-content: left;
  padding-left: 40px;
  cursor: cell;

}
#myChartLegend ul li.hidden {
  color:rgb(65, 59, 59);
}


